name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Run Build Script
      shell: cmd
      run: build.bat
      
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: release/Setup.exe
        generate_release_notes: true
